.divider {
  display: flex;
}
.divider:before,
.divider:after {
  content: "";
  flex: 1;
}

.line {
  align-items: center;
}
.line:before,
.line:after {
  height: 1px;
  margin: 0 1em;
}

.glow:before,
.glow:after {
  height: 6px;
  -webkit-filter: blur(5px);
  border-radius: 5px;
}

.glow:before {
  background: linear-gradient(to right, #af9b22, #d8bf25);
}

.glow:after {
  background: linear-gradient(to left, #af9b22, #d8bf25);
}

@media (min-width: 415px) {
}
